* {
  outline: 1px solid green;
}

.container {
  display: inline-block;
  width: 120px;
  margin: 0 auto;
}

.mtprojects {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.aboutme {
  border: 1px solid black;
  text-align: center;
  height: 120px;
}